* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ font-family: "Nunito", sans-serif;}

a{ text-decoration: none; color:black; }

ul {list-style-type: none; }

/* style navbar and relevances */
.navbar{
    display: flex;
    padding: 20px;
    align-items: center;
}
.navbar img{padding-left: 50px;}
nav {flex: 1; text-align: center; padding-left:10%;}
nav ul {display: inline-block;}
nav ul li {display: inline-block; padding: 20px;}

.icons{
    display: flex;
    margin-right: 20px;
}
.icons .material-icons { padding: 20px} 
header{
    margin-bottom: 50px;
}
.intro{min-width: 200px}
.intro .background_img {
    background: url('./assets/headbg.jpg') no-repeat;
    width: 100%;
    height: 500px;
    background-position-y: 55%;
    background-size: cover;
}
.contentmobile {display: none;}
.intro .content{
    background-color: blanchedalmond;
    padding: 30px;
    width: 35%;
    position: relative;
    top: 20%; left: 60%; right: 10%;    
}
.btn{
    display: inline-block;
    color: white;
    font-weight: bold;
    background-color: burlywood;
    border-radius: 30px;
    padding: 8px 30px;
}
/* adding header breakpoint */
@media only screen and (max-width: 600px) {
    nav{
        display: none;
    } 
    .navbar{
        justify-content: end;
    } 
    .logo{ margin-right: 40px;} 
    .firstbr{display: none;}
    .intro .content{display: none;} 

    .intro .background_img {
        height: 200px;
        z-index: -1;
        background-position-y: 55%;
        background-size: cover;
        position: absolute;
        filter: blur(2px);
    }
    
    .contentmobile {
        display: inline-block;
        position: relative;
        width: 80%;
        padding: 20px 0 0 60px;
        font-weight: bold;
        left: 40px;
    }
    .content_container{align-items: center;}
    .btn {
        padding: 6px 20px;
        position: relative;
        bottom: 30px;
        font-size: smaller;
    }
}

@media only screen and (max-width:900px) {
    #icon_3, #icon_4{display: none;}
    .content{font-size: smaller;}
}

/* style categories */
.text{align-items: center; text-align: center; margin: 50px;}
.row{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    flex-wrap: wrap;
    padding: 0 50px;
}
.row h3{
    display: inline-block;
}
.col-3{
    flex-basis: 20%; 
    min-width: 250px; 
    text-align: center;
    font-weight: bold;
}
.col-3 img{
    display: inline-block;
    width: 100%; 
    height: 500px;
    border-radius: 30px; 
    transition: transform 0.5s;
    margin-bottom: 10px;
}

.col-3 img:hover{
    transform: scale(1.05);
    box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 20px 0 rgba(0, 0, 0, 0.19);
}
/* style feature of product */
.product_row{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    min-width: 200px;
}
.products{
    flex-basis: 20%;
    min-width: 220px;
    height: 400px;
    background-color: rgba(233,233,233);
    margin: 15px;
    transition: transform 0.5s;
}

.products:hover{
    transform: scale(1.05);
    box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 20px 0 rgba(0, 0, 0, 0.19);
}
.content{
    padding: 8px;
}
.products .content a:hover {
    text-decoration: underline 2px;
}
.products img{
    width: 100%;
    height: 75%;
}

/* style the show button */
.show_btn {
    text-align: center;
    margin: 50px;
}

.show_btn a{
    padding: 8px 60px;
    color :bisque;
    border-color: bisque;   
    border-style: solid;
    font-weight: bold;
}
/* products breakpoint */
@media only screen and (max-width: 900px){
    .products {   height: 300px;    } 
    .content  {   padding: 4px;     }
}

@media only screen and (max-width: 600px){
    .col-3{       margin: 10px;         }
    .col-3 img{   height: 300px;        }
    .text{        font-size: smaller;   }
    .products {   min-width: 200px;     } 
}

/* style collection */
.collection_container{ 
    display: grid;
    grid-template-columns: 8% 30% 15% 25% 8%;
    height: 700px;    
    gap: 10px;
    margin: 50px 0 100px 0;
}
#item1{
    background: url('./assets/collection-1.jpg') no-repeat center;
    background-size: cover;
    height: 100%;
}
#item2{
    height: 75%; 
    background: url('./assets/collection-2.jpg') no-repeat center;
    background-size: cover;
    margin-top: 20%;
}
#item3{
    height: 50%;
    background: url('./assets/collection-3.jpg') no-repeat center;
    background-size: cover;
    grid-row: span 2;
    margin-top: 70%;
}
#item4{
    height: 70%;
    background: url('./assets/collection-4.jpg') no-repeat center;
    background-size: cover;
    margin-top: 28%;
}
#item5{
    background: url('./assets/collection-5.jpg') no-repeat center;
    background-size: contain; 
    height: 100%;
}
#item6{
    /* width: 160%; */
    height: 100%;
    width: 150%;
    background: url('./assets/collection-6.jpg') no-repeat left;
    background-size: cover; 
}
#item7{
    height: 70%;
    width: 90; 
    margin-left: 15%;
    background: url('./assets/collection-7.jpg') no-repeat right;
    background-size: cover; 
    margin-bottom: 27%;
}
#item8{
    grid-area: 2/4;
    height: 60%;
    width: 80%; 
    background: url('./assets/collection-8.jpg') no-repeat center;
    background-size: cover; 
}
#item9{
    height: 40%; 
    width: 80%;
    margin-left: 82%;
    grid-area: 2/4;
    background: url('./assets/collection-9.jpg') no-repeat center;
    background-size: cover; 
}
@media only screen and (max-width: 900px){
    .collection_container{
        height: 500px;
    }
}
@media only screen and (max-width: 600px){
    .collection_container{
        height: 300px;
    }
}

/* style footer */
.fade{color: darkgrey}

footer a:hover{
    text-decoration: underline;
}
label a:hover{
    text-decoration: none;
}

footer.row{
    align-items: start;
    padding: 0 40px;
    margin-top: 50px;
    flex-wrap: wrap-reverse;
    min-width: 200px;
}

.col-4{
    flex-basis: 20%;
}
footer li{
    padding: 20px;
}

label{
    border-bottom: 1px solid;
    font-size: smaller;
}

#email{
    border-color: aliceblue aliceblue black aliceblue ;
    width: 150px;
    height: 22px;
    margin-right: 10px;
}
#subtext p{
    margin-top: 10px;
}

#email_subscr img {display: none;}
@media only screen and (max-width:900px){
    #subtext{
        font-size: smaller;
    }
}
@media only screen and (max-width:600px) {
    #subtext{
        display: none;
    }

    .col-4{
        flex-basis: 50%;
    }
    #email_subscr{
        display: flex;
        flex: 1;
    }
    #email_subscr img{
        display: inline-block;   
        margin-right: 20px;
    }

}
/* style copyright */
.copyright{
    margin: 50px 10%;
    font-weight: bold;
}
